.banner {
    position: relative;
    height: 24.267vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &__img {
        height: 223px;
        border-radius: 25px;
        filter: brightness(60%);
        width: 65.713%;
        object-fit: cover;
    }
}