.conteneurtitre {
  width: 82.50%;
  height: 47px;
  background-color: $orange;
  border-radius: 5px;
}

.conteneuraboutcollapse {
  width: 65.713%;
  margin: auto;
}

@media screen and (max-width: 868px) {
  .conteneurabout__conteneurimg {
    height: 89.33%;
  }

  .conteneurabout__img {
    width: 93.316%;
  }

  .conteneuraboutcollapse {
    width: 89.401%;
  }
}

@media screen and (max-width: 375px) {
  .conteneurabout__conteneurimg {
    margin: 15px 0px;
  }

  .conteneuraboutcollapse {
    width: 100%;
  }
}