.conteneuraboutcollapse {
  width: 65.713%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 60%
}

.collapse_paragraphe {
  margin: 20px 15px;
}

@media screen and (max-width: 912px) {

  .conteneuraboutcollapse {
    width: 89.401%;
  }
}

@media screen and (max-width: 430px) {
  .conteneuraboutcollapse {
    width: 100%;
    margin: 0px auto 20px;
    ;
  }
}