.conteneuraboutcollapse {
  width: 65.713%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 60%
}

.collapse_paragraphe {
  margin: 20px 15px;
}

@media screen and (max-width: 868px) {
  .conteneurabout__conteneurimg {
    height: 89.33%;
  }

  .conteneurabout__img {
    width: 93.316%;
  }

  .conteneuraboutcollapse {
    width: 89.401%;
  }
}

@media screen and (max-width: 375px) {
  .conteneurabout__conteneurimg {
    margin: 15px 0px;
  }

  .conteneuraboutcollapse {
    width: 100%;
  }
}