@keyframes animation_arrow_rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-180deg)
    }
}

@keyframes animation_arrow_init {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg)
    }
}

// @keyframes animation_collapse_open {
//     0% {
//         max-height: 0;
//     }

//     100% {
//         max-height: 100%;
//     }
// }

// @keyframes animation_collapse_close {
//     0% {}

//     100% {
//         max-height: 0;
//     }
// }